

@font-face { 
  font-family:'Roboto', sans-serif;       /* название одно */ 
  src: url('webfont8321.woff2'); /* разные файлы */ 
  font-weight: 300;              /* разная плотность */ 
  font-style: light; 
} 

@font-face { 
  font-family:'Roboto', sans-serif;       /* название одно */ 
  src: url('webfont8321.woff2'); /* разные файлы */ 
  font-weight: 400;              /* разная плотность */ 
  font-style: normal; 
} 

@font-face { 
  font-family:'Roboto', sans-serif;       /* название одно */ 
  src: url('webfont8321.woff2'); /* разные файлы */ 
  font-weight: 500;              /* разная плотность */ 
  font-style: medium; 
} 


@font-face { 
  font-family: 'Roboto', sans-serif;       /* название одно */ 
  src: url('webfont___1.woff2'); /* разные файлы */ 
  font-weight: 700;              /* разная плотность */ 
  font-style: bold; 
} 